<!DOCTYPE html>
<html>
<head>
	<title>รายการยืม-คืนอุปกรณ์</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">        
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- data table style script -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">

    <!-- data table script -->
    <!-- <script type="text/javascript" src="{{ url_for('static',filename="js/lendTable.js")}}"></script> -->
    <script type="text/javascript">
	    $(document).ready(function() {
			var table = $('#example').DataTable();
			$('#example tbody').on('click', 'tr', 'td', function () {
		        $("#myModal").modal("show");
		        $("#txtLendNO").val($(this).closest('tr').children()[0].textContent);
		        $("#txtDate").val($(this).closest('tr').children()[1].textContent);
			    $("#txtName").val($(this).closest('tr').children()[2].textContent);
			    $("#txtSurname").val($(this).closest('tr').children()[3].textContent);
			    $("#txtType").val($(this).closest('tr').children()[4].textContent);
			    $("#sFaculty").val($(this).closest('tr').children()[5].textContent);
			    $("#sClass").val($(this).closest('tr').children()[6].textContent);

			    $("#txtILendNO").val($(this).closest('tr').children()[0].textContent);
			    $("#txtEID").val($(this).closest('tr').children()[7].textContent);
			    $("#txtIeid").val($(this).closest('tr').children()[7].textContent);
			    $("#txtSerial").val($(this).closest('tr').children()[8].textContent);
			    $("#txtEquipment").val($(this).closest('tr').children()[9].textContent);
		    });		    
		});
	</script>   
	<style type="text/css">
		.content{
            display: none;
        }

        .preload{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
	</style>

    <!-- script date picker -->   
    <link rel="stylesheet" href="{{ url_for('static',filename="datepicker/dist/css/bootstrap-datepicker.css")}}">
    <script type="text/javascript" src="{{ url_for('static',filename="datepicker/dist/js/bootstrap-datepicker-custom.js")}}"></script>

    <script>
  		 $(document).ready(function () {
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: true
                // language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
                // thaiyear: true              //Set เป็นปี พ.ศ.
            }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
        }); 		
  	</script>
    <style type="text/css">
    	.mycontent-left {
		  border-right: 1px solid #EEEEEE;
		}
    </style>
</head>
<body style="padding-top: 5rem;">
	<div class="preload">
        <img src="{{ url_for('static',filename="imgs/loading.gif")}}" width="130px" height="100px">
    </div>
    <div class="content">
    	
    
	<!-- ++++++++++++++++++++++navbar++++++++++++++++++++++ -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="\">
            <img src="{{ url_for('static',filename="imgs/band.png")}}" alt="Logo" width="45" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lend">เพิ่มรายการยืม-คืน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="equipment">ค้นหาอุปกรณ์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="category">ค้นหาตามหมวดหมู่</a>
                </li>
            </ul>
                <!--  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->     
        </div>
    </nav>
    <!-- ++++++++++++++++++++++end navbar++++++++++++++++++++++ --> 
    <div class="container">           
        <div class="row">
            <div class="col-6 col-sm-3">
                <h3>เพิ่มรายการยืม - คืน</h3>
            </div>           
        </div>

    	<br />
    	<!-- +++++++++++++++++++++ Input Form ++++++++++++++++++++++ -->
		<div class="row" style="border-style: solid; border-radius: 5px; border-color: #44CAF2; background-color: #B2F3FF">
		    <div class="col col-lg-3">
		    	<div class="form-group">
		    		<label for="name" class="form-control-label">วันที่ยืม</label>
	    			<input type="text" class="form-control" id="datepicker" data-date-format="yyyy-mm-dd" />
		    	</div> 
		    </div>
		    <div class="col-12 col-md-3">
		    	<div class="form-group">
		    		<label for="name" class="form-control-label">ชื่อผู้ยืม</label>		    		
	        		<input type="text" class="form-control" id="name" onkeyup="this.value=this.value.replace(/[^a-zA-Zก-ฮะ-า-ิ-ี-ึ-ื-ุ-ู-เ-แ-โ-ไ-ั-์-ำ]/g,'');" />			
	        		<div id="error1" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
		            <script type="text/javascript">
		            	$("#name").blur(function(){
		            		if (this.value == '') {
		            			$("#error1").fadeIn("show");
		            		}
		            		if (this.value != '') {
		            			$("#error1").fadeOut();
		            		}
		               	})
		            </script>
		    	</div>    
		    </div>
		    <div class="col-12 col-md-3">
		      	<div class="form-group">
		      		<label for="surname" class="form-control-label">นามสกุล</label>		      		
	        		<input type="text" class="form-control" id="surname" onkeyup="this.value=this.value.replace(/[^a-zA-Zก-ฮะ-า-ิ-ี-ึ-ื-ุ-ู-เ-แ-โ-ไ-ั-์-ำ]/g,'');" />	        		
	        		<div id="error2" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
		            <script type="text/javascript">
		            	$("#surname").blur(function(){
		            		if (this.value == '') {
		            			$("#error2").fadeIn("show");
		            		}
		            		if (this.value != '') {
		            			$("#error2").fadeOut();
		            		}
		               	})
		            </script>
		      	</div>
		    </div>
		    <div class="col-12 col-md-3">
		    	<div class="form-group">
		    		<label for="pstatus" class="form-control-label">สถานะ</label>
	        		<select type="text" class="form-control" id="status">
	        			<option value="นักศึกษา">นักศึกษา</option>
	        			<option value="อาจารย์">อาจารย์</option>
	        		</select>
		    	</div>
		    </div>
		    <div class="col col-lg-3">
		    	<div class="form-group">
		    		<label for="stuID" class="form-control-label">รหัสนักศึกษา / รหัสอาจารย์</label>
	        		<input type="text" class="form-control" id="PID" maxlength="13" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
	        		<div id="error3" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
		            <script type="text/javascript">
		            	$("#PID").blur(function(){
		            		if (this.value == '') {
		            			$("#error3").fadeIn("show");
		            		}
		            		if (this.value != '') {
		            			$("#error3").fadeOut();
		            		}
		               	})
		            </script>
		    	</div>
		    </div>
		    <div class="col-12 col-md-2">
		    	<div class="form-group">
		    		<label for="faculty" class="form-control-label">สาขา</label>
	        		<select type="text" class="form-control" id="faculty">
	        			<option value="IT">IT</option>
	        			<option value="CS">CS</option>
	        			<option value="other">อื่นๆ</option>
	        		</select>
		    	</div>
		    </div>
		    <div class="col-12 col-md-1">
		    	<div class="form-group">
		    		<label for="class" class="form-control-label">ชั้นปี</label>
	        		<select class="form-control" id="class">
	        			<option value="1">1</option>
	        			<option value="2">2</option>
	        			<option value="3">3</option>
	        			<option value="4">4</option>
	        			<option value="other">อื่นๆ</option>
	        		</select>
		    	</div>
		    </div>
		    <div class="col-12 col-md-3">
		    	<div class="form-group">
		    		<label for="class" class="form-control-label">ผู้ให้ยืม(ID)</label>
	        		<input type="text" class="form-control" id="staffID" maxlength="3" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
	        		<div id="error4" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
		            <script type="text/javascript">
		            	$("#staffID").blur(function(){
		            		if (this.value == '') {
		            			$("#error4").fadeIn("show");
		            		}
		            		if (this.value != '') {
		            			$("#error4").fadeOut();
		            		}
		               	})
		            </script>
		    	</div>
		    </div>
		    <div class="col-12 col-md-3">
		    	<div class="form-group">
		    		<label for="class" class="form-control-label">กรอกรหัสนักศึกษา/อาจารย์เพื่อค้นหา:</label>
		    		<button type="submit" value="submit" id="btnSearch" class="btn btn-primary">ค้นหา</button>
		    		<script type="text/javascript">
		    			$('#btnSearch').click(function(){

				  			var pid = document.getElementById("PID").value;
																		
							if (pid == "") {
								alert("กรุณากรอกข้อมูลให้ครบถ้วน");
								return false;
							}
							else{
								$.ajax({
									url: '/searchstu',
									data: JSON.stringify({"pid" : pid}),
									type: 'POST',
									processData: false,
									contentType: 'application/json; charset=utf-8',
									success: function(response){
										console.log(response);
										var n = (response['NAME']);
										var sur = (response['SURNAME']);
										var t = (response['TYPE']);
										var fac = (response['FACULTY']);
										var c = (response['CLASS']);
										

										document.getElementById("name").value = n;
										document.getElementById("surname").value = sur;
										document.getElementById("status").value = t;
										document.getElementById("faculty").value = fac;
										document.getElementById("class").value = c;				
									},
									error: function(error){
										alert("ไม่พบข้อมูล")
										console.log(error);
										document.getElementById("name").value = "";
										document.getElementById("surname").value = "";
										document.getElementById("status").value = "นักศึกษา";
										document.getElementById("faculty").value = "IT";
										document.getElementById("class").value = "1";
									}
								});							
							}									
						});
		    		</script>
		    	</div>
		    </div>
		    <div class="form-group">					     	
	            <input type="date" class="form-control" id="create-date" style="display: none;">
	            <script type="text/javascript">
	            	document.getElementById('create-date').valueAsDate = new Date()
	            </script>					                    
	        </div>
	        <div class="form-group">					     	
	            <input type="date" class="form-control" id="update-date" style="display: none;">
	            <script type="text/javascript">
	            	document.getElementById('update-date').valueAsDate = new Date()
	            </script>					                    
	        </div>
		</div>
		<br />
		<div class="row" style="border-style: solid; border-radius: 5px; border-color: #F6E687; background-color: #FFF6B2">
		    <div class="col-12 col-md-6">
		      	<div class="form-group">
		      		<label for="equipment" class="form-control-label">ยืมอุปกรณ์</label>
	        		<select class="form-control" id="sequip">
	        				<option value="">เลือกอุปกรณ์</option>
	        			{% for row in rows2 %}
	        				<option value="{{ row[0] }}">{{ row[1] }}</option>
	        			{% endfor %}
	        		</select>
		      	</div>
		    </div>
		    <div class="col-12 col-md-6">
		      	<label for="ldetail" class="form-control-label">รายละเอียด</label>
	        	<textarea id="ldetail" class="form-control"></textarea><br/>
		    </div>		   
		</div>
    	
    	<br/>

    	<div class="row">
    		<div class="col-12">    			
				<button type="button" class="btn btn-default" id="clear">ล้าง</button>
				<script type="text/javascript">
					$("#clear").on("click", function() {
						$('input[type="text"]').val('');
					});
				</script>
				<button type="submit" value="submit" class="btn btn-primary" id="btnSave">เพิ่ม</button>
				<script type="text/javascript">
					$('#btnSave').click(function(){
						// person table
				  		var pid = document.getElementById("PID").value;
						var pname = document.getElementById("name").value;
						var psurname = document.getElementById("surname").value;
						var pstatus = document.getElementById("status").value;
						var pfaculty = document.getElementById("faculty").value;
						var pclass = document.getElementById("class").value;

						// lend-head table
						var sid = document.getElementById("staffID").value;
						var ldate = document.getElementById("datepicker").value;
						var ldetail = document.getElementById("ldetail").value;
						var cdate = document.getElementById("create-date").value;
						var udate = document.getElementById("update-date").value;

						// lend-detail
						var eid = document.getElementById("sequip").value;


						if (pid == "" || pname == "" || psurname == "" || sid == "") {
							alert("กรุณากรอกข้อมูลให้ครบถ้วน");
							return false;
						}
						else{
							alert("บันทึกข้อมูลเรียบร้อย");
							$.ajax({
								url: '/addlend',
								data: JSON.stringify({"pid" : pid ,"pname" : pname , "psurname" : psurname , "pstatus" : pstatus , "pfaculty" : pfaculty , "pclass" : pclass , 
													"sid" : sid , "ldate" : ldate , "ldetail" : ldetail , "cdate" : cdate , "udate" : udate , "eid" : eid}),
								type: 'POST',
								processData: false,
								contentType: 'application/json; charset=utf-8',
								success: function(response){
									console.log(response);
								},
								error: function(error){
									console.log(error);
								}
							});
							location.reload();
						}									
					});
				</script>
    		</div>
    	</div> 	    	
	</div>
	    <!-- +++++++++++++++++++++ End Button Add Lend ++++++++++++++++++++++ -->  	

    <hr />

    <div class="container">        	       
        <table id="example" class="table table-striped table-bordered table-responsive table-hover" cellspacing="0" width="100%">
            <thead>
            	<th>รหัสใบยืม</th>
                <th>วันที่ยืม</th>
                <th>ผู้ให้ยืม</th>
                <th>ผู้ยืม</th>
                <th>สถานะ</th>
                <th>สาขา</th>
                <th>ชั้นปี</th>
                <th>รหัสอุปกรณ์</th>
                <th>เลขเซีเรียล</th>
                <th>ชื่ออุปกรณ์</th>
                <th>สถานะ</th>
            </thead>

            {% for row in rows1 %}
            <tr>
            	<td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td> 
                <td>{{row[8]}}</td>                    
                <td>{{row[9]}}</td>
                <td>{{row[10]}}</td>
            </tr>
            {% endfor %}
        </table>             
    </div> 
    <br/><br/>
    <div class="modal fade" id="myModal">
	  	<div class="modal-dialog modal-lg">
	    	<div class="modal-content">
	      		<div class="modal-header">
	      			<h5 class="modal-title" id="exampleModalLabel">แก้ไข ข้อมูลการยืม - คืน</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          	<span aria-hidden="true">&times;</span>
			        </button>	      
	        	</div>
		      	<div class="modal-body">
			      	<div class="row">
			      		<!-- ++++++++++++++++LEND Column++++++++++++++++++ -->
			      		<div class="col-6 mycontent-left">
			      			<form>
			      				<h4 style="text-align: center;">ข้อมูลการยืม</h4>
			      				<div class="form-group">
				      				<label for="txtLendNO" class="form-control-label">รหัสใบยืม</label>
				      				<input type="text" class="form-control" id="txtLendNO" readonly="readonly" />
				      			</div>
				      			<div class="form-group">
				      				<label for="txtDate" class="form-control-label">วันที่ยืม</label>
				      				<input type="text" class="form-control" id="txtDate" readonly="readonly" />	  
				      				<script>
								  		 $(document).ready(function () {
								            $('#txtDate').datepicker({
								                format: 'yyyy-mm-dd',
								                todayBtn: true
								                // language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
								                // thaiyear: true              //Set เป็นปี พ.ศ.
								            }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
								        }); 		
								  	</script>    				    				
				      			</div>
				      			<div class="form-group">
				      				<label for="txtName" class="form-control-label">ผู้ให้ยืม</label>
				      				<input type="text" class="form-control" id="txtName" readonly="readonly" />
				      			</div>
				      			<div class="form-group">
				      				<label for="txtSurname" class="form-control-label">ผู้ยืม</label>
				      				<input type="text" class="form-control" id="txtSurname" readonly="readonly" />
				      			</div>
				      			<div class="form-group">
				      				<label for="txtSurname" class="form-control-label">สถานะ</label>
				      				<input type="text" class="form-control" id="txtType" readonly="readonly" />
				      			</div>
				      			<div class="form-group">
				      				<label for="sFaculty" class="form-control-label">สาขา</label>
				      				<input type="text" class="form-control" id="sFaculty" readonly="readonly"></input>
				      			</div>
				      			<div class="form-group">
				      				<label for="sClass" class="form-control-label">ชั้นปี</label>
				      				<input type="text" class="form-control" id="sClass" readonly="readonly"></input>				      				
				      			</div>
				      			<div class="form-group">
				      				<label for="txtEID" class="form-control-label">รหัสอุปกรณ์</label>
				      				<input type="text" class="form-control" id="txtEID" readonly="readonly" />
				      			</div>
				      			<div class="form-group">
				      				<label for="txtSerial" class="form-control-label">ซีเรียล</label>
				      				<input type="text" class="form-control" id="txtSerial" readonly="readonly" />
				      			</div>
				      			<div class="form-group">
				      				<label for="txtEquipment" class="form-control-label">ชื่ออุปกรณ์</label>
				      				<input type="text" class="form-control" id="txtEquipment" readonly="readonly" />
				      			</div>		        	
			        		</form>
			      		</div>
			      		<!-- ++++++++++++++++Inspection Column++++++++++++++++++ -->
			      		<div class="col-6">
			      			<form>
			      				<h4 style="text-align: center;">ข้อมูลการคืน</h4>
			      				<div class="form-group">
				      				<label for="txtILendNO" class="form-control-label">รหัสใบยืม</label>
				      				<input type="text" class="form-control" id="txtILendNO" readonly="readonly" />
				      			</div>
			      				<div class="form-group">
				      				<label for="txtDate" class="form-control-label">วันที่คืน</label>
				      				<input type="text" class="form-control" id="txtInspecDate"/>
				      				<script>
								  		 $(document).ready(function () {
								            $('#txtInspecDate').datepicker({
								                format: 'yyyy-mm-dd',
								                todayBtn: true
								                // language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
								                // thaiyear: true              //Set เป็นปี พ.ศ.
								            }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
								        }); 		
								  	</script>    				    				
				      			</div>
				      			<div class="form-group">
				      				<label for="sStatus" class="form-control-label">สถานะ</label>
				      				<select id="sStatus" class="form-control">
				      					<option value="อุปกรณ์ครบ">อุปกรณ์ครบ</option>
				      					<option value="อุปกรณ์ขาดหาย">อุปกรณ์ขาดหาย</option>
				      					<option value="อุปกรณ์ชำรุด/เสียหาย">อุปกรณ์ชำรุด/เสียหาย</option>
				      					<option value="อื่นๆ">อื่นๆ</option>
				      				</select>			      				
				      			</div>
				      			<div class="form-group">
				      				<label for="txtIeid" class="form-control-label">รหัสอุปกรณ์</label>
				      				<input type="text" class="form-control" id="txtIeid" readonly="readonly"/>				      				
				      			</div>
				      			<div class="form-group">
				      				<label for="txtStaffID" class="form-control-label">ผู้รับคืน(ID)</label>
				      				<input type="text" class="form-control" id="txtStaffID" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
				      				<div id="error5" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
						            <script type="text/javascript">
						            	$("#txtStaffID").blur(function(){
						            		if (this.value == '') {
						            			$("#error5").fadeIn("show");
						            		}
						            		if (this.value != '') {
						            			$("#error5").fadeOut();
						            		}
						               	})
						            </script>
				      			</div>
				      			<div class="form-group">
				      				<label for="txtInspection" class="form-control-label">รายละเอียด</label>
				      				<textarea class="form-control" id="txtInspection"></textarea>  
				      				<div id="error6" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
						            <script type="text/javascript">
						            	$("#txtInspection").blur(function(){
						            		if (this.value == '') {
						            			$("#error6").fadeIn("show");
						            		}
						            		if (this.value != '') {
						            			$("#error6").fadeOut();
						            		}
						               	})
						            </script>
				      			</div>
				      			<div class="form-group">
						            <!-- <label for="create-date" class="form-control-label">วันที่สร้าง:</label>	 -->
						            <input type="date" class="form-control" id="create-date" readonly="readonly" style="display: none;">   
						            <script type="text/javascript">
										var today = new Date();										
										$("#create-date").val(getFormattedDate(today));										
										// Get date formatted as YYYY-MM-DD
										function getFormattedDate (date) {
										    return date.getFullYear()
										        + "-"
										        + ("0" + (date.getMonth() + 1)).slice(-2)
										        + "-"
										        + ("0" + date.getDate()).slice(-2);
										}
						            </script>        
						        </div>
						        <div class="form-group">					     	
						            <input type="date" class="form-control" id="update-date" readonly="readonly" style="display: none;">
						            <script type="text/javascript">
						            	document.getElementById('update-date').valueAsDate = new Date()
						            </script>					                    
						        </div>
			      			</form>
			      		</div>
			      	</div>
		      		
		      	</div>
	      		<div class="modal-footer">
	        		<!-- <button type="button" class="btn btn-danger">ลบ</button> -->
	        		<button type="summit" value="summit" class="btn btn-primary" id="btnUpdate">อัพเดท</button>
	        		<script type="text/javascript">
	        			$('#btnUpdate').click(function(){
	        				var lno = document.getElementById("txtILendNO").value;
					  		var inspecdate = document.getElementById("txtInspecDate").value;
							var status = document.getElementById("sStatus").value;
							var leid = document.getElementById("txtIeid").value;
							var staffid = document.getElementById("txtStaffID").value;
							var inspec = document.getElementById("txtInspection").value;
							var cdate = document.getElementById("create-date").value;
							var udate = document.getElementById("update-date").value;

							if (inspec == "") {
								alert("กรุณากรอกข้อมูลให้ครบถ้วน");
    							return false;
							}
							else{
								alert("อัพเดทข้อมูลเรียบร้อย");
								$.ajax({
									url: '/addinspection',
									data: JSON.stringify({"lendno" : lno , "inspdate" : inspecdate , "sta" : status , "leid" : leid , "staff" : staffid  , "inspection" : inspec , 
										"createdate" : cdate , "update" : udate}),
									type: 'POST',
									processData: false,
									contentType: 'application/json; charset=utf-8',
									success: function(response){
										console.log(response);
									},
									error: function(error){
										console.log(error);
									}
								});
								location.reload();
							}									
						});
	        		</script>
	        		<button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
	      		</div>
	    	</div><!-- /.modal-content -->
  		</div><!-- /.modal-dialog -->
  	</div><!-- /.modal -->
  	</div>
  	<script type="text/javascript">
        $(function() {
            $(".preload").fadeOut(2000,function() {
                $(".content").fadeIn(500);
            })
        })
    </script>
</body>
</html>