
<!DOCTYPE html>
<html>
<head>	
	<title>เอกสารของคุณ</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="775272923869-rlks2trj3sntdhd7880csqojlpb0n741.apps.googleusercontent.com">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

    <!-- data table style script -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">

    <style type="text/css">
    	.data{
    		display: none;
    	}
    </style>
    <script>
	  	function onSignIn(googleUser) {
	    	var profile = googleUser.getBasicProfile();
	    	$(".g-signin2").css("display","none");
	    	$(".data").css("display","block");
	    	$("#pic").attr('src',profile.getImageUrl());
	    	$("#email").text(profile.getEmail());
	  	}
	  	function signOut(){
	  		var auth2 = gapi.auth2.getAuthInstance();
	  		auth2.signOut().then(function(){
	  			alert("You have been successfully signed out");
	  			$(".g-signin2").css("display","block");
	  			$(".data").css("display","none");
	  		})
	  	}
	  </script>
</head>
<body>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>

	

	<div class="data">
		<p>Profile Detials</p>
		<img id="pic" class="img=circle" width="100" height="100">
		<p>Email Address</p>
		<p id="email" class="alert alert-danger"></p>
		<button onclick="signOut()" class="btn btn-danger">SignOut</button>

		<div class="container">
			<h3>เอกสารของคุณ</h3>
			<table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
	            <thead> 
	            	<th>เลขใบ</th>
	                <th>วันที่เอกสาร</th>
	                <th>เลขที่เอกสาร</th>
	                <th>หัวข้อเรื่อง</th>
	                <th>ชื่อไฟล์</th>
	                <th>ผู้เกี่ยวข้อง</th>
	      	               
	            </thead>
	            {% for row in rows %}
	            <tr>
	            	<td>{{row[0]}}</td>
	                <td>{{row[1]}}</td>
	                <td>{{row[2]}}</td>
	                <td>{{row[3]}}</td>
	                <!-- <a href="{{row[4]}}"><td>{{row[4]}}</td></a> -->
	                <td>
	                <a target="_blank" href="{{ url_for('static', filename='UPLOAD/' + row[4]) }}">
					    <div>
					      {{row[4]}}
					    </div>
					</a>
					</td>
	                <td>{{row[5]}}</td>                
	            </tr>
	            {% endfor %}
	        </table> 
		</div>
	</div>

		
	
	
</body>
</html>