
<!DOCTYPE html>
<html>
<head>	
	<title>เอกสารของคุณ</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    
    <meta name="google-signin-client_id" content="775272923869-rlks2trj3sntdhd7880csqojlpb0n741.apps.googleusercontent.com">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

    <!-- data table style script -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">

    <style type="text/css">
    	body{
    		font-family: 'Athiti', serif;
    	}
    	.data{
    		display: none;
    		position: fixed;
		  	top: 50%;
		  	left: 50%;
		  	/* bring your own prefixes */
		  	transform: translate(-50%, -50%);
		  	text-align: center;
    	}
    	/*.g-signin2{
    		display: none;
    	}*/

    	.centered {
		  	position: fixed;
		  	top: 50%;
		  	left: 50%;
		  	/* bring your own prefixes */
		  	transform: translate(-50%, -50%);
		  	text-align: center;
		}
    </style>

   <!--  <script type="text/javascript">
    	$(document).ready(function() {
 
    	});
    </script> -->

    <script type="text/javascript">
    	function onSignIn(googleUser) {
			var profile = googleUser.getBasicProfile();
			// $(".g-signin2").css("display", "none");
			$(".centered").css("display", "none");
			$(".data").css("display", "block");
			$("#pic").attr('src',profile.getImageUrl());
			$("#email").val(profile.getEmail());
		}
		function signOut(){
			var auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut().then(function(){
				alert("คุณออกจากระบบเรียบร้อย");
				// $(".g-signin2").css("display","block");
				$(".centered").css("display","block");
				$(".data").css("display","none");
				// window.location = "signinpersondoc"
			});

			$.ajax({
				url: '/dropsessionuseremail',
				contentType: 'application/json; charset=utf-8',
				success: function(response){
					console.log(response);
					// window.location = "login";
				},
				error: function(error){
					console.log(error);
				}
			});
		}
    </script>
    
</head>
<body>
	<div class="centered">
		<h5><b>อ่านเอกสารของคุณ</b></h5>
		<img src="{{ url_for('static',filename="imgs/document.png")}}" alt="logo" width="120" height="120" />
		<div class="g-signin2" data-onsuccess="onSignIn" data-width="200" style="margin-top: 1rem;"></div>
	</div>
	
	<div class="data">
		<div class="container">
			<form>
			    <div class="form-group">	
			      	<img id="pic" class="rounded-circle" width="100" height="100" style="margin-right: 1rem;">
			    </div> 
			    <div class="form-group">
			    	<!-- <label id="email" class="form-control-label" style="margin-right: 1rem;"></label> -->
		    		<input type="text" id="email" class="form-control" autocomplete="off" readonly style="margin-right: 1rem; width: 220px; text-align: center;">
		    	</div>
		    	<div class="form-group">
					<button onclick="signOut()" class="btn btn-danger">ลงชื่อออก</button>
					<button type="submit" id="btnShowDoc" class="btn btn-primary" style="margin-left: 1rem;">ดูเอกสาร</button>
				</div>
				<script type="text/javascript">
					$('#btnShowDoc').click(function(){
						var getemail = document.getElementById("email").value;
			            $.ajax({
			                url: '/getsessionemail',
			                data: JSON.stringify({"getemail" : getemail}),
			                type: 'POST',
			                processData: false,
			                contentType: 'application/json; charset=utf-8',
			                success: function(response){
			                    console.log(response);
			                    window.open("showpersondoc", '_blank');
			                },
			                error: function(error){
			                    console.log(error);
			                    alert("บัญชีของคุณไม่ได้อยู่ในระบบ หรือลองใหม่อีกครั้ง")
			                }
			            });   
					});
				</script>  
			</form>
		</div>
	</div>

	<script src="https://apis.google.com/js/platform.js" async defer></script>
</body>
</html>