<!DOCTYPE html>
<html>
<head>
	<title>จัดการเอกสารสำหรับอาจารย์</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style type="text/css">
    	.mycontent-left {
		  border-right: 1px solid #EEEEEE;
		}
    </style>
     <!-- script date picker -->   
    <link rel="stylesheet" href="{{ url_for('static',filename="datepicker/dist/css/bootstrap-datepicker.css")}}">
    <script type="text/javascript" src="{{ url_for('static',filename="datepicker/dist/js/bootstrap-datepicker-custom.js")}}"></script>

    <script>
  		 $(document).ready(function () {
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd',
                todayBtn: true
                // language: 'th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
                // thaiyear: true              //Set เป็นปี พ.ศ.
            }).datepicker("setDate", "0");  //กำหนดเป็นวันปัจุบัน
        }); 		
  	</script>
</head>
<body style="padding-top: 3rem; padding-bottom: 3rem;">
	<div class="container">
		<h4>จัดการเอกสารอาจารย์</h4>
		<hr>
		<div class="row" style="border-style: solid; border-radius: 5px; border-color: #D0D3D4; background-color: #F8F9F9;">
			<div class="col-12 col-md-6 mycontent-left" style="padding: 20px;">
				<div class="row">
					<div class="col-12 col-md-6">
						<p style="font-size: 20px;">อาจารย์สาขา IT</p>
						{% for row in rows1 %}
							<input type="checkbox" id="tbit" value="{{ row[0] }}"> {{ row[0] }} {{ row[1] }}<br>
						{% endfor %}
					</div>
					<div class="col-12 col-md-6">
						<p style="font-size: 20px;">อาจารย์สาขา CS</p>
						{% for row in rows2 %}
							<input type="checkbox" id="tbcs" value="{{ row[0] }}"> {{ row[0] }} {{ row[1] }}<br>
						{% endfor %}
					</div>
				</div>
				<div class="text-center">
					<p style="font-size: 20px;">เจ้าหน้าที่</p>
					{% for row in rows3 %}
						<input type="checkbox" id="tbstaff" value="{{ row[0] }}"> {{ row[1] }}<br>
					{% endfor %}
				</div>
				<br>
				<div class="wrapper text-center">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">เพิ่มบุคคล</button>
				</div>									
			</div>
			<div class="col-12 col-md-6" style="padding: 20px;">
				<form method="POST" action="http://localhost:5000/uploader" enctype="multipart/form-data">
					
					<input type="file" id="myfile" name="file"  accept="image/jpeg,image/png,application/pdf">


					<button type="button" id="btnClearFile" class="btn btn-danger">ยกเลิก</button>


					<script type="text/javascript">
						$('#btnClearFile').click(function(){
							document.getElementById("myfile").value = "";
						});
					</script>
					<p style="color: red; padding-top: 1rem;">*เฉพาะไฟล์นามสกุล .pdf .jpeg และ .png เท่านั้น</p>
					<hr>
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="form-froup" style="white-space: nowrap;">
								<label for="txtnumber" class="form-control-label">เลขที่:</label>
								<input type="text" id="txtnumber" placeholder="เลขที่ กรอกหรือไม่ก็ได้" class="form-control">	
							</div>
							<div class="form-froup">
								<label for="txtstory" class="form-control-label">เรื่อง:</label>
								<input type="text" id="txtstory" placeholder="ชื่อเรื่อง" class="form-control">
								<div id="error" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
					            <script type="text/javascript">
					            	$("#txtstory").blur(function(){
					            		if (this.value == '') {
					            			$("#error").fadeIn("show");
					            		}
					            		if (this.value != '') {
					            			$("#error").fadeOut();
					            		}
					               	})
					            </script>
							</div>
							<div class="form-froup">
								<label for="txtdate" class="form-control-label">วันที่:</label>
								<input type="text" id="datepicker" class="form-control" data-date-format="yyyy-mm-dd">
							</div>
						</div>
					</div>
					<br>
					<button type="submit" class="btn btn-success" id="btnDocSave">บันทึก</button>
					<!-- <script type="text/javascript">
						$('#btnDocSave').click(function(){
					  		if () {
								alert("กรุณากรอกข้อมูลให้ครบถ้วน");
								return false;
							}
							else{
								alert("บันทึกข้อมูลเรียบร้อย");
								$.ajax({
									url: '/addperson',
									data: JSON.stringify({}),
									type: 'POST',
									processData: false,
									contentType: 'application/json; charset=utf-8',
									success: function(response){
										console.log(response);
									},
									error: function(error){
										console.log(error);
									}
								});
								// location.reload();
							}			
						});
					</script> -->
				</form>
			</div>
		</div>
	</div>
	<!-- Modal -->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  	<div class="modal-dialog" role="document">	
		  		<form>  			  		
			    	<div class="modal-content">
				      	<div class="modal-header">
				        	<h5 class="modal-title" id="exampleModalLabel">กรอกข้อมูลบุคคล</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          	<span aria-hidden="true">&times;</span>
					        </button>
				      	</div>
					    <div class="modal-body">							    	    	
					        <form>
					        	<div class="form-group">
						            <label for="txtperid" class="form-control-label">รหัสอาจารย์:</label>
						            <p style="color: red">*อาจารย์สาขา IT เริ่มต้นรหัส 1000 สาขา CS เริ่มต้นรหัส 2000</p>
						            <input type="text" class="form-control" id="txtperid" autocomplete="off" maxlength="50" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
						            <div id="error1" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
						            <script type="text/javascript">
						            	$("#txtperid").blur(function(){
						            		if (this.value == '') {
						            			$("#error1").fadeIn("show");
						            		}
						            		if (this.value != '') {
						            			$("#error1").fadeOut();
						            		}
						               	})
						            </script>
						        </div>
						        <div class="form-group">
						            <label for="txtname" class="form-control-label">ชื่อ:</label>
						            <input type="text" class="form-control" id="txtname" autocomplete="off" maxlength="50" />
						            <div id="error2" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
						            <script type="text/javascript">
						            	$("#txtname").blur(function(){
						            		if (this.value == '') {
						            			$("#error2").fadeIn("show");
						            		}
						            		if (this.value != '') {
						            			$("#error2").fadeOut();
						            		}
						               	})
						            </script>
						        </div>
						        <div class="form-group">
						            <label for="txtsurname" class="form-control-label">นามสกุล:</label>
						            <input type="text" class="form-control" id="txtsurname" autocomplete="off" maxlength="50" />
						            <div id="error3" style="display: none; color: red;">กรุณากรอกข้อมูล</div>
						            <script type="text/javascript">
						            	$("#txtsurname").blur(function(){
						            		if (this.value == '') {
						            			$("#error3").fadeIn("show");
						            		}
						            		if (this.value != '') {
						            			$("#error3").fadeOut();
						            		}
						               	})
						            </script>
						        </div>
						        <div class="form-group">
						            <!-- <label for="txttype" class="form-control-label">สถานะ:</label> -->
						            <input type="text" class="form-control" id="txttype" autocomplete="off" value="อาจารย์" style="display: none;" />
						        </div>
						        <div class="form-group">
						            <label for="faculty" class="form-control-label">อาจารย์สาขา:</label>
						            <select type="text" class="form-control" id="faculty">
					        			<option value="IT">IT</option>
					        			<option value="CS">CS</option>
					        			<option value="other">other</option>
					        		</select>          
						        </div>
						        <div class="form-group">
						            <!-- <label for="txtclass" class="form-control-label">ชั้นปี:</label> -->
						            <input type="text" class="form-control" id="txtclass" autocomplete="off" value="other" style="display: none;" />
						        </div>
					        </form>		    
					    </div>
					    <div class="modal-footer">
					       	<button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
					        <button type="submit" value="submit" class="btn btn-primary" id="btnSave">บันทึก</button>
					        <script type="text/javascript">
								$('#btnSave').click(function(){
							  		var pid = document.getElementById("txtperid").value;
							  		var name = document.getElementById("txtname").value;
							  		var sname = document.getElementById("txtsurname").value;
							  		var type = document.getElementById("txttype").value;
							  		var fac = document.getElementById("faculty").value;
							  		var pclass = document.getElementById("txtclass").value;

							  		if (pid == "" || name == "" || sname == "") {
										alert("กรุณากรอกข้อมูลให้ครบถ้วน");
										return false;
									}
									else{
										alert("บันทึกข้อมูลเรียบร้อย");
										$.ajax({
											url: '/addperson',
											data: JSON.stringify({"pid" : pid ,"name" : name , "sname" : sname , "type" : type , "fac" : fac , "pclass" : pclass}),
											type: 'POST',
											processData: false,
											contentType: 'application/json; charset=utf-8',
											success: function(response){
												console.log(response);
											},
											error: function(error){
												console.log(error);
											}
										});
										// location.reload();
									}			
								});
							</script>
					    </div>
			    	</div>
		    	</form>		    
		  	</div>
		</div>
		<!-- ++++++++++++++++++End Modal++++++++++++++++++ -->
</body>
</html>