<!DOCTYPE html>
<html>
<head>
	<title>จัดการเอกสารสำหรับอาจารย์</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <style type="text/css">
    	.mycontent-left {
		  border-right: 1px solid #EEEEEE;
		}
    </style>
</head>
<body style="padding-top: 5rem;">
	<div class="container">
		<h4>จัดการเอกสารอาจารย์</h4>
		<hr>
		<div class="row" style="border-style: solid; border-radius: 5px; border-color: #D0D3D4; background-color: #F8F9F9;">
			<div class="col-12 col-md-6 mycontent-left" style="padding: 20px;">
				<div class="row">
					<div class="col-12 col-md-6">
						<p style="font-size: 20px;">อาจารย์สาขา IT</p>
						<input type="checkbox" id="p1001" value="1001"> อ.พิเชษฐ์ มาเร็ว<br>
						<input type="checkbox" id="p1002" value="1002"> รศ.ดร.ฤกษ์ชัย ฟูประทีปศิริ<br>
						<input type="checkbox" id="p1003" value="1003"> อ.สุวนีย์ กุลกรินีธรรม<br>
						<input type="checkbox" id="p1004" value="1004"> อ.วีระชาติ มัตติทานนท์<br>
						<input type="checkbox" id="p1005" value="1005"> อ.อุโฆษ แปลงประสพโชค<br>
						<input type="checkbox" id="p1006" value="1006"> อ.ชุมพล โมฆรัตน์<br>
						<input type="checkbox" id="p1007" value="1007"> อ.ธนพล พึ่งตัวเอง<br>
						<input type="checkbox" id="p1008" value="1008"> อ.เสาวคนธ์ หอมสุด<br>
						<input type="checkbox" id="p1009" value="1009"> อ.พนา จันทิวาสน์<br>
						<input type="checkbox" id="p1010" value="1010"> อ.วิริยา สุภาณิชย์<br>
						<input type="checkbox" id="p1011" value="1011"> อ.วิภา ธนานันท์<br>
					</div>
					<div class="col-12 col-md-6">
						<p style="font-size: 20px;">อาจารย์สาขา CS</p>
						<input type="checkbox" id="p2001" value="2001"> อ.สุธีรา วงศ์อนันทรัพย์<br>
						<input type="checkbox" id="p2002" value="2002"> ผศ.สมศักดิ์ รักเกียรติวินัย<br>
						<input type="checkbox" id="p2003" value="2003"> อ.รัฐ บุรีรัตน์<br>
						<input type="checkbox" id="p2004" value="2004"> อ.อรวรรณ มูสิกะ<br>
						<input type="checkbox" id="p2005" value="2005"> อ.ต้องใจ แย้มผกา<br>
						<input type="checkbox" id="p2006" value="2006"> อ.ปรินดา ลาภเจริญวงศ์<br>
						<input type="checkbox" id="p2007" value="2007"> อ.ดวงใจ หนูเล็ก<br>
					</div>
				</div>						
			</div>
			<div class="col-12 col-md-6" style="padding: 20px;">
				<input type="file" id="myfile" accept="application/pdf">
				<p style="color: red; padding-top: 1rem;">*เฉพาะไฟล์นามสกุล .pdf เท่านั้น</p>
				<hr>
				<button type="submit" class="btn btn-success">ส่ง</button>
			</div>
		</div>
	</div>
</body>
</html>