{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
	{% block title %}
	<title>profile</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <style>
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		  max-width: 300px;
		  margin: auto;
		  text-align: center;
		}
	</style>
	
	<script type="text/javascript">
	 	$(document).ready(function () {
	 		$("#txtpw").hide();	 
	 		$("#txtnewpw").hide();
	 		$("#txtconfirmpw").hide();
	 		$("#btnDone").hide(); 
	 		$("#btnCancel").hide()	
	 	});
	</script>
	{% endblock %}
</head>
<body>
	{% block body %}

	<h2 style="text-align:center">Profile</h2>

<div class="card">
  	<img src="{{ url_for('static',filename="imgs/avapro.png")}}" alt="profile image" style="width:100%">
  	
  	<h4 style="padding-top: 2rem; padding-bottom: 2rem;">
  		<div id="n" style="display: inline;">
  			{{ name }}
  		</div> 
  		<div id="surn" style="display: inline;">
  			{{ surname }}
  		</div>
  	</h4>

  	<div class="row">
  		<div class="col-12 col-md-6" style="text-align: right; font-weight: bold;">
  			Username:
  		</div>
  		<div class="col-12 col-md-6" style="text-align: left;">
  			{{ usn }}
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-12 col-md-6" style="text-align: right; font-weight: bold;">
  			Password:
  		</div>
  		<div class="col-12 col-md-6" style="text-align: left;">
  			<div id="passw">{{ pw }}</div>
  			<input type="text" placeholder="รหัสผ่านปัจจุบัน" id="txtpw" class="form-control" autocomplete="off" />
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-12 col-md-6">
  			&nbsp;
  		</div>
  		<div class="col-12 col-md-6">
  			<input type="password" placeholder="รหัสผ่านใหม่" id="txtnewpw" class="form-control" autocomplete="off" />
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-12 col-md-6">
  			&nbsp;
  		</div>
  		<div class="col-12 col-md-6">
  			<input type="password" placeholder="ยืนยันรหัสผ่าน" id="txtconfirmpw" class="form-control" autocomplete="off" />
  		</div>
  	</div>

 	<button class="btn btn-primary" type="submit" value="submit" id="btnEdit">แก้ไขรหัสผ่าน</button>
 	<script type="text/javascript">	
		$('#btnEdit').click(function() {		
			var currentpw = document.getElementById("passw");

		   	var fieldpw = document.getElementById("txtpw");
		   	var fieldnewpw = document.getElementById("txtnewpw");
		   	var fieldconfirmpw = document.getElementById("txtconfirmpw");

		   	var btne = document.getElementById("btnEdit");
		   	var btnd = document.getElementById("btnDone");
		   	var btnc = document.getElementById("btnCancel");	

		   	currentpw.style.display = "none";
		   	fieldpw.style.display = "block";
		   	fieldnewpw.style.display = "block";
		   	fieldconfirmpw.style.display = "block";

		   	btne.style.display = "none";
		   	btnd.style.display = "block";
		   	btnc.style.display = "block";
		});	
	</script>	

	<div class="btn-group btn-group-justified">		
		<button class="btn btn-success" type="submit" value="submit" id="btnDone" style="width: 150px;">ตกลง</button>	
		<button class="btn btn-danger" type="submit" value="submit" id="btnCancel" style="width: 150px;">ยกเลิก</button>	
	</div>

	<script type="text/javascript">
		$('#btnCancel').click(function() {
			location.reload();
		});
	</script>
	<script type="text/javascript">
		$('#btnDone').click(function() {
			var showpw = document.getElementById("passw").textContent;
		    var pw = document.getElementById("txtpw").value;
		   	var newpw = document.getElementById("txtnewpw").value;
		   	var confirmpw = document.getElementById("txtconfirmpw").value;
		   	
		   	if (pw == "" || newpw == "" || confirmpw == "") {
		   		alert("กรุณากรอกข้อมูลให้ครบถ้วน");
				return false;
		   	}else{
		   		if (pw == showpw) {
			   		if (newpw != confirmpw) {
			   			alert("password ไม่ตรงกัน");
			   			return false;
			   		}else{
			   			alert("เปลี่ยน password เรียบร้อย");
					   	$.ajax({
							url: '/editpassword',
							data: JSON.stringify({"confirmpw" : confirmpw}),
							type: 'POST',
							processData: false,
							contentType: 'application/json; charset=utf-8',
							success: function(response){
								console.log(response);
							},
							error: function(error){								
								console.log(error);
							}
						});
						location.reload();
			   		}
			   	}else{
			   		alert("password ไม่ถูกต้อง");
			   		return false;
			   	}		   		
		  	}		
		});
	</script>
</div>
{% endblock %}
</body>
</html>