<!DOCTYPE html>
<html>
<head>
	<title>profile</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <style>
		.card {
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		  max-width: 300px;
		  margin: auto;
		  text-align: center;
		  font-family: arial;
		}
	</style>
	
	<script type="text/javascript">
	 	$(document).ready(function () {
	 		$("#txtpw").hide();	 
	 		$("#txtnewpw").hide();
	 		$("#txtconfirmpw").hide();
	 		$("#btnDone").hide(); 
	 		$("#btnCancel").hide()	
	 	});
	</script>
</head>
<body style="padding-top: 5rem; padding-bottom: 5rem;">
	<!-- ++++++++++++++++++++++navbar++++++++++++++++++++++ -->
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="\">
            <img src="{{ url_for('static',filename="imgs/band.png")}}" alt="Logo" width="45" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">หน้าหลัก <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lend">เพิ่มรายการยืม-คืน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="equipment">ค้นหาอุปกรณ์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="category">หมวดหมู่</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="person">รายชื่อนักศึกษา/อาจารย์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="room">ตรวจห้อง LAB</a>
                </li>
            </ul>
                <form class="form-inline my-2 my-lg-0">
                    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                    <a href="profile">
                    	<label class="form-control-label mr-sm-2" style="color: white;">{{ username }}</label>
                    </a>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnLogout">ลงชื่อออก</button>
                    <script type="text/javascript">
                    	$('#btnLogout').click(function(){
                    		$.ajax({
								url: '/logout',
								contentType: 'application/json; charset=utf-8',
								success: function(response){
									console.log(response);
									window.location = "login";
								},
								error: function(error){
									console.log(error);
								}
							});
                    	});
                    </script>
                </form>
        </div>
    </nav>
    <!-- ++++++++++++++++++++++end navbar++++++++++++++++++++++ -->

	<h2 style="text-align:center">Profile</h2>

<div class="card">
  	<img src="{{ url_for('static',filename="imgs/avapro.png")}}" alt="profile image" style="width:100%">
  	
  	<h4 style="padding-top: 20px;">
  		<div id="n" style="display: inline;">
  			{{ name }}
  		</div> 
  		<div id="surn" style="display: inline;">
  			{{ surname }}
  		</div>
  	</h4>
  		
  	<table width="100%">
  		<tr>
  			<td style="text-align: right; font-weight: bold;">Username:</td>
  			<td style="text-align: left;">{{ usn }}</td>
  		</tr>
  		<tr>
  			<td style="text-align: right; font-weight: bold;">Password:</td>
  			<td style="text-align: left;">				
  				<div id="passw">{{ pw }}</div>
  				<input type="text" placeholder="รหัสผ่านปัจจุบัน" id="txtpw" class="form-control" autocomplete="off" />
  			</td>
  		</tr>
  		<tr>
  			<td>&nbsp;</td>
  			<td><input type="password" placeholder="รหัสผ่านใหม่" id="txtnewpw" class="form-control" autocomplete="off" /></td>
  		</tr>
  		<tr>
  			<td>&nbsp;</td>
  			<td><input type="password" placeholder="ยืนยันรหัสผ่าน" id="txtconfirmpw" class="form-control" autocomplete="off" /></td>
  		</tr>
  	</table>

 	<button class="btn btn-primary" type="submit" value="submit" id="btnEdit">Edit Password</button>
 	<script type="text/javascript">	
		$('#btnEdit').click(function() {		
			var currentpw = document.getElementById("passw");

		   	var fieldpw = document.getElementById("txtpw");
		   	var fieldnewpw = document.getElementById("txtnewpw");
		   	var fieldconfirmpw = document.getElementById("txtconfirmpw");

		   	var btne = document.getElementById("btnEdit");
		   	var btnd = document.getElementById("btnDone");
		   	var btnc = document.getElementById("btnCancel");	

		   	currentpw.style.display = "none";
		   	fieldpw.style.display = "block";
		   	fieldnewpw.style.display = "block";
		   	fieldconfirmpw.style.display = "block";

		   	btne.style.display = "none";
		   	btnd.style.display = "block";
		   	btnc.style.display = "block";
		});	
	</script>	

	<div class="btn-group btn-group-justified">		
		<button class="btn btn-success" type="submit" value="submit" id="btnDone" style="width: 150px;">Done</button>	
		<button class="btn btn-danger" type="submit" value="submit" id="btnCancel" style="width: 150px;">Cancel</button>	
	</div>

	<script type="text/javascript">
		$('#btnCancel').click(function() {
			location.reload();
		});
	</script>
	<script type="text/javascript">
		$('#btnDone').click(function() {
			var showpw = document.getElementById("passw").textContent;
		    var pw = document.getElementById("txtpw").value;
		   	var newpw = document.getElementById("txtnewpw").value;
		   	var confirmpw = document.getElementById("txtconfirmpw").value;
		   	
		   	if (pw == "" || newpw == "" || confirmpw == "") {
		   		alert("กรุณากรอกข้อมูลให้ครบถ้วน");
				return false;
		   	}else{
		   		if (pw == showpw) {
			   		if (newpw != confirmpw) {
			   			alert("password ไม่ตรงกัน");
			   			return false;
			   		}else{
			   			alert("เปลี่ยน password เรียบร้อย");
					   	$.ajax({
							url: '/editpassword',
							data: JSON.stringify({"confirmpw" : confirmpw}),
							type: 'POST',
							processData: false,
							contentType: 'application/json; charset=utf-8',
							success: function(response){
								console.log(response);
							},
							error: function(error){								
								console.log(error);
							}
						});
						location.reload();
			   		}
			   	}else{
			   		alert("password ไม่ถูกต้อง");
			   		return false;
			   	}		   		
		  	}		
		});
	</script>
</div>
</body>
</html>