<!DOCTYPE html>
<html>
<head>
	<title>รายงานการยืม-คืนอุปกรณ์</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</head>
<body style="padding-top: 2rem;">
	<div class="container" style="text-align: center;">
		<h4>รายงานการยืม-คืนอุปกรณ์</h4>
	</div>	
	<div style="padding-top: 3rem;">
	</div>	

	<table id="example" class="table table-sm" style="text-align: center;">
	    <thead>	            	
	    	<th>รหัสใบยืม</th>
	        <th>วันที่ยืม</th>
	        <th>ผู้ให้ยืม</th>
	        <th>ผู้ยืม</th>
	        <th>สถานะ</th>
	        <th>สาขา</th>
	        <th>ชั้นปี</th>
	        <th>รหัสอุปกรณ์</th>
	        <th>เลขเซีเรียล</th>
	        <th>ชื่ออุปกรณ์</th>
	        <th>สถานะ</th>	                
	    </thead>	            
	    <tr>      	
	        <!-- <td>1</td>
	        <td>2018-01-23</td>
	        <td>Boom</td>  
	        <td>Robbin</td>   
	        <td>อาจารย์</td>  
	        <td>CS</td> 
	        <td>other</td>
	        <td>1</td>
	        <td>999-888-77</td> 
	        <td>NB</td> 
	        <td>คืนแล้ว</td> --> 
	    </tr>      
	</table>

	<script type="text/javascript">
		$(document).ready(function () {
			$.ajax({
				url: '/report',
				data: JSON.stringify(),
				type: 'POST',
				processData: false,
				contentType: 'application/json; charset=utf-8',
				success: function(response){
					console.log(response);
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	</script>

	<form action = "http://127.0.0.1:5000/report" method = "post">
         <p>Enter Name:</p>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "submit" value = "submit" /></p>
    </form>
	
     	
</body>
</html>