{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
	<title>รายการตรวจห้อง</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">        
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- data table style script -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">

    <script type="text/javascript">
    	$(document).ready(function() {
    		var table = $('#example').DataTable({
    			buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
    		});
    		table.buttons().container()
        	.appendTo( '#example_wrapper .col-md-6:eq(0)' );

    		
    	});
    </script>
</head>
{% endblock %}
<body>
	{% block body %}
	<div class="container">
		<h4>รายการตรวจห้อง LAB</h4>
		<hr>
		<table id="example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
			<thead>
	                <th>ID</th>
	                <th>ห้อง</th>
	                <th>โต๊ะ</th>
	                <th>สถานะ</th>
	                <th>รายละเอียด</th>
	                <th>ผู้ตรวจ</th>
	                <th>วันที่ตรวจ</th>        
	            </thead>

	            {% for row in rows1 %}
	            <tr>
	                <td>{{row[0]}}</td>
	                <td>{{row[1]}}</td>
	                <td>{{row[2]}}</td>
	                <td>{{row[3]}}</td>
	                <td>{{row[4]}}</td>
	                <td>{{row[5]}}</td>                    
	                <td>{{row[6]}}</td>               
	            </tr>
	            {% endfor %}
		</table>
	</div>
    {% endblock %}
</body>
</html>