<!DOCTYPE html>
<html>
<head>
	<title>หน้าหลัก</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">        
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="hover/hover.css")}}">
    
    <style type="text/css">
    	.header{
    		text-align: center;
    		padding-bottom: 5rem;
    	}
    	.alert{
    		text-align: center;   		
    	}
    </style>
</head>
<body style="padding-top: 5rem;">

	<!-- ++++++++++++++++++++++navbar++++++++++++++++++++++ -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="\index">
            <img src="{{ url_for('static',filename="imgs/band.png")}}" alt="Logo" width="45" height="30" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">หน้าหลัก <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lend">เพิ่มรายการยืม-คืน</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="equipment">ค้นหาอุปกรณ์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="category">หมวดหมู่</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="person">รายชื่อนักศึกษา/อาจารย์</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ตรวจห้อง LAB
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="room">รายชื่อห้อง</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="room941">ห้อง 941</a>
                        <a class="dropdown-item" href="room953">ห้อง 953</a>
                        <a class="dropdown-item" href="room982">ห้อง 982</a>
                        <a class="dropdown-item" href="room983">ห้อง 983</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="roomchecklist">รายการตรวจห้อง</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="preport">จัดการเอกสาร</a>
                </li>
            </ul>
                <form class="form-inline my-2 my-lg-0">
                    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                    <a href="profile">
                        <label class="form-control-label mr-sm-2" style="color: white;">{{ username }}</label>
                    </a>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="btnLogout">ลงชื่อออก</button>
                    <script type="text/javascript">
                        $('#btnLogout').click(function(){
                            $.ajax({
                                url: '/logout',
                                contentType: 'application/json; charset=utf-8',
                                success: function(response){
                                    console.log(response);
                                    window.location = "login";
                                },
                                error: function(error){
                                    console.log(error);
                                }
                            });
                        });
                    </script>
                </form>
        </div>
    </nav>
    <!-- ++++++++++++++++++++++end navbar++++++++++++++++++++++ -->
	<div class="container">
		<div class="header">
			<h3>LAB's ROOM CHECKER</h3>
		</div>
	</div>
	<div class="container">
		<a href="room941" style="text-decoration: none;"><div class="alert alert-primary hvr-wobble-vertical" role="alert">
		  <h4>ห้อง 941</h4>
		</div></a>
		<a href="room953" style="text-decoration: none;"><div class="alert alert-secondary hvr-wobble-vertical" role="alert">
		  <h4>ห้อง 953</h4>
		</div></a>
		<a href="room982" style="text-decoration: none;"><div class="alert alert-success hvr-wobble-vertical" role="alert">
		  <h4>ห้อง 982</h4>
		</div></a>
		<a href="room983" style="text-decoration: none;"><div class="alert alert-danger hvr-wobble-vertical" role="alert">
		  <h4>ห้อง 983</h4>
		</div></a>
		<a href="roomchecklist" style="text-decoration: none;"><div class="alert alert-warning hvr-wobble-vertical" role="alert">
		  <h4>รายการตรวจห้อง</h4>
		</div></a>
	</div>
</body>
</html>