{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
	<title>หน้าหลัก</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script type="text/javascript" src="{{ url_for('static',filename="js/jquery.js")}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- data table style script -->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">



    <style type="text/css">
    	.header{
    		text-align: center;
    		padding-bottom: 5rem;
    	}
    	.alert{
    		text-align: center;
    	}
    </style>

    <script>
    	$(document).ready(function() {
			$('#example').DataTable({
			    "order": [[ 1, "desc" ]]
			});
		});
    </script>

    <script>
    window.onload = function () {

    var options = {
        title: {
            text: "สถิติการใช้งานในปี {{year}}"
        },

        animationEnabled: true,
        data: [{
            type: "pie",
            startAngle: 40,
            toolTipContent: "<b>{label}</b>: {y}%",
            showInLegend: "true",
            legendText: "{label}",
            indexLabelFontSize: 16,
            indexLabel: "{label} - {y}%",

            dataPoints: [
               {% for row in rows1 %}
                { y: {{row[0]}}, label: "{{row[1]}}" },
                {% endfor %}
            ]

        }]
    };
    $("#chartContainer").CanvasJSChart(options);

    }
    </script>

</head>
{% endblock %}

<body>
	{% block body %}
	<div class="container">
		<div class="header">
<!--			<h3>สถิติการใช้งานครุภัณฑ์</h3>-->
		</div>

    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <br>


    <table id="example" class="table table-striped table-bordered" width="100%">
    <thead>
        <th>ชื่อครุภัณฑ์</th>
        <th>จำนวนการใช้งาน (%)</th>
        <th>ประจำปี</th>

    </thead>
    {% for row in rows2 %}
    <tr>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
    </tr>
    {% endfor %}
    </table>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
	</div>
    {% endblock %}
</body>
</html>